pandas
tensorflow-gpu>=2.0.0
tensorflow-addons
sklearn
numpy
loguru
pytest
PyYAML
spacy
tensorflow-datasets
tqdm
pydot
graphviz
tensorboardX
jieba
prettytable
bentoml
sentencepiece
stanfordnlp
setuptools>=41.0.0
six>=1.12.0
tensorboard>=2.1.0
tensorflow-estimator>=2.1.0
python-dateutil==2.8.0