includes:
  - "../pretrain/bert_wwm.yml"
#  - "../pretrain/bert_huggingface.yml"

model_name: bert_dgcnn_for_ner

model_attributes:
    hidden_dropout_prob: 0.5
    initializer_range: 0.02
    hidden_size: 1024

training:
  learning_rate: 3e-5
  max_epochs: 10
  batch_size: 32
  callbacks:
    early_stopping:
      switch: true
      config:
        patience: 2
    checkpoint:
      switch: true
      config:
        save_best_only: true
        verbose: 1

dataset:
  name: lstc_2020/DuEE_trigger
  data_dir: "./data"
  transformer: "lstc_2020/DuEE_trigger"

  source:
    train: "train"
    validation: "validation[:50%]"
    test: "validation[-50%:]"

  tokenizer:
    max_len: 256

  inputs:
    - name: input_ids
      column: input_ids
      type: LIST_OF_INT
      max_len: 256
    - name: token_type_ids
      column: token_type_ids
      type: LIST_OF_INT
      max_len: 256
    - name: attention_mask
      column: attention_mask
      type: LIST_OF_INT
      max_len: 256
    - name: pos
      column: pos
      type: LIST_OF_CLASSLABEL
      labels:
        url: ""
        name: "hanlp_pos_labels"
      max_len: 256

  outputs:
    - name: output_1
      column: ner_labels
      type: LIST_OF_CLASSLABEL
      task: NER
      num: 0
      labels:
        url: "https://ai.baidu.com/file/9C92719AF96D4DDB96477BFBE1435262"
        name: "duee_trigger_ner_labels"
      loss:
#        name: sparse_categorical_crossentropy
        name: myself_crf_loss
#        config:
#          from_logits: true
#          reduction: "sum"
      metrics:
#        - name: sparse_categorical_accuracy
        - name: sparse_f1_score
          config:
            num_classes: 131
            average: "macro"
            name: "macro_f1"
#        - name: sparse_f1_score
#          config:
#            num_classes: 131
#            average: "micro"
#            name: "micro_f1"
#        - name: sparse_precision
#          config:
#            num_classes: 131
#            average: "macro"
#            name: "macro_precision"
#        - name: sparse_recall
#          config:
#            num_classes: 131
#            average: "macro"
#            name: "macro_recall"
#    - name: output_2
#      column: event_labels
#      type: LIST_OF_INT
#      num: 0
#      weight: 0.5
#      labels:
#        url: "https://ai.baidu.com/file/9C92719AF96D4DDB96477BFBE1435262"
#        name: "duee_event_type_labels"
#      loss:
#        name: sigmoid_focal_crossentropy
#        config:
#          from_logits: true
#          reduction: "sum"
#      metrics:
#        - name: categorical_accuracy

pretrained:
    name: chinese_roberta_wwm_ext
#    name: bert-base-chinese-huggingface
    init_from_pretrained: true


